body {
	padding: 3em;
}

.classSelect,
.aptitudeSelect,
.selectedAptitudes,
.skip0,
.export_all,
.wishlist {
	margin-bottom: 2em;
}

.skill:not(.header) ,
.talent:not(.header) ,
.characteristic:not(.header) {
	margin-bottom: 2em;
}

.header {
	background-color: #636363;
	color: #ddd;
	font-weight: 600;
}

.skill ,
.talent ,
.characteristic {
	border: 1px solid #636363;
}

.skill > :nth-child(2n) ,
.talent > :nth-child(2n) ,
.characteristic > :nth-child(2n) {
	background-color: #f8f5e8;
}

.skill > div ,
.talent > div ,
.characteristic > div {
	padding: 0.25em;
}

.characteristic > div {
	display: grid;
	grid-template-columns: 50px 20px 150px 150px;
	grid-template-rows: auto;
}

.characteristic > div :nth-child(4n),
.characteristic > div :nth-child(4n - 1) {
	font-weight: 500;
}

.characteristic:not(.header) > div :nth-child(4n - 1) {
	text-decoration: underline;
}

.skill > div {
	display: grid;
	grid-template-columns: 50px 20px 150px 150px 150px;
	grid-template-rows: auto;
}

.skill > div :nth-child(5n),
.skill > div :nth-child(5n - 1) {
	font-weight: 500;
}

.skill:not(.header) > div :nth-child(5n - 2) {
	text-decoration: underline;
}

.talent > div {
	display: grid;
	grid-template-columns: 50px 20px 40px 250px 150px 150px 2fr 0px;
	grid-template-rows: auto;
}

.talent > div :nth-child(8n - 2),
.talent > div :nth-child(8n - 3) {
	font-weight: 500;
}

.talent:not(.header) > div :nth-child(8n - 4) {
	text-decoration: underline;
}

.m2 {
	color: #44c32a;
}

.m1 {
	color: #b6bd18;
}

.m0 {
	color: #f91965;
}

.badge {
	font-size: 100%;
	padding: 0.35em 0.5em;
	font-weight: 400;
}
